<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!-- Khai bao namespace de dung th:* --> 
    <head>
        <meta charset="UTF-8">
        <title>Danh Sach Sinh Vien</title> 
        <!-- CSS don gian -->
        <style>
            body { font-family: sans-serif; padding: 20px; }
            a { text-decoration: none; }
            table { width: 100%; border-collapse: collapse; margin-top: 20px; } 
            th, td { border: 1px solid #ddd; padding: 8px; text-align: left; } 
            th { background-color: #f2f2f2; }
            tr.text-danger { color: red; }
        </style> 
    </head> 
    <body>
        <h1>Danh Sach Sinh Vien (SSR)</h1>
        <form action="/students" method="GET">
            <input type="text" name="keyword" placeholder="Nhap ten..." />
            <button type="submit">Tim</button> 
        </form>
        <table> 
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Ho va Ten</th> 
                    <th>Email</th> 
                    <th>Tuoi</th>
                </tr> 
            </thead> 
            <tbody>
                <!-- Cu phap Thymeleaf: Duyet qua danh sach "dsSinhVien" --> 
                <!-- th:each="bien_tam : ${key_trong_model}" -->
                <tr th:each="student : ${dsSinhVien}" th:class="${student.age < 18} ? 'text-danger' : ''">
                    <td th:text="${student.id}">ID Mau</td>
                    <td>
                        <a th:if="${student != null}"
                            th:href="@{/students/{id}(id=${student.id})}"
                            th:text="${student.name}">
                        </a>

                        <span th:unless="${student != null}">
                            Ten Mau
                        </span>
                    </td>
                    <td th:text="${student.email}">Email Mau</td> 
                    <td th:text="${student.age}">0</td>
                </tr> 
            </tbody>
        </table> 
        <br>
        <a href="/students/create">
            <button type="button">Them moi</button>
        </a>
    </body> 
</html>